.contact {
  font-size: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactForm {
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactName {
  display: flex;
  flex-direction: column;
}
.contactEmail {
  display: flex;
  flex-direction: column;
}
.contactMessage {
  display: flex;
  flex-direction: column;
}

.formStyle {
  border-style: solid;
  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
